# Backend
backend/**/target/
backend/**/.env

# Frontend
frontend/**/node_modules/
frontend/**/dist/
frontend/**/.env

# Storage (DO NOT COMMIT MEDIA)
storage/audio/*
storage/covers/*

# OS / IDE
.DS_Store
.idea
.vscode
